<div class="sticky top-0 flex justify-center p-2 md:space-x-10 md:flex-row lg:flex-col">

    @* <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light"
        data-type="VERTICAL" data-vanity="chandrakanthpasunuru" data-version="v1">
        <a class="badge-base__link LI-simple-link"
            href="https://in.linkedin.com/in/chandrakanthpasunuru?trk=profile-badge">
            linkedin
            </a>
    </div> *@


    <div class="">
        <a class="twitter-timeline" data-width="300" data-height="400" data-tweet-limit=3
            href="https://twitter.com/chandudotcc?ref_src=twsrc%5Etfw">
            Tweets by chandudotcc
        </a>
    </div>

</div>
