<section class="">
    <section class="bg-slate-50 dark:bg-slate-800 dark:text-white p-8 m-4">
        <section class="container mx-auto text-center mb-2">
            <h1 class="text-5xl capitalize">chandra kanth</h1>
            <p class="text-xl">full-stack software enginner</p>
        </section>
        <section class="container mx-auto">
            <div class="flex flex-row  items-center justify-center  rounded-full">
                <!-- discord -->
                <a href="#">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M19.98,5.69c-1.68-1.34-4.08-1.71-5.12-1.82h-0.04c-0.16,0-0.31,0.09-0.36,0.24c-0.09,0.23,0.05,0.48,0.28,0.52 c1.17,0.24,2.52,0.66,3.75,1.43c0.25,0.15,0.31,0.49,0.11,0.72c-0.16,0.18-0.43,0.2-0.64,0.08C15.56,5.38,12.58,5.3,12,5.3 S8.44,5.38,6.04,6.86C5.83,6.98,5.56,6.96,5.4,6.78C5.2,6.55,5.26,6.21,5.51,6.06c1.23-0.77,2.58-1.19,3.75-1.43 c0.23-0.04,0.37-0.29,0.28-0.52c-0.05-0.15-0.2-0.24-0.36-0.24H9.14C8.1,3.98,5.7,4.35,4.02,5.69C3.04,6.6,1.09,11.83,1,16.46 c0,0.31,0.08,0.62,0.26,0.87c1.17,1.65,3.71,2.64,5.63,2.78c0.29,0.02,0.57-0.11,0.74-0.35c0.01,0,0.01-0.01,0.02-0.02 c0.35-0.48,0.14-1.16-0.42-1.37c-1.6-0.59-2.42-1.29-2.47-1.34c-0.2-0.18-0.22-0.48-0.05-0.68c0.18-0.2,0.48-0.22,0.68-0.04 c0.03,0.02,2.25,1.91,6.61,1.91s6.58-1.89,6.61-1.91c0.2-0.18,0.5-0.16,0.68,0.04c0.17,0.2,0.15,0.5-0.05,0.68 c-0.05,0.05-0.87,0.75-2.47,1.34c-0.56,0.21-0.77,0.89-0.42,1.37c0.01,0.01,0.01,0.02,0.02,0.02c0.17,0.24,0.45,0.37,0.74,0.35 c1.92-0.14,4.46-1.13,5.63-2.78c0.18-0.25,0.26-0.56,0.26-0.87C22.91,11.83,20.96,6.6,19.98,5.69z M8.89,14.87 c-0.92,0-1.67-0.86-1.67-1.91c0-1.06,0.75-1.92,1.67-1.92c0.93,0,1.67,0.86,1.67,1.92C10.56,14.01,9.82,14.87,8.89,14.87z M15.11,14.87c-0.93,0-1.67-0.86-1.67-1.91c0-1.06,0.74-1.92,1.67-1.92c0.92,0,1.67,0.86,1.67,1.92 C16.78,14.01,16.03,14.87,15.11,14.87z">
                        </path>
                    </svg>
                </a>

                <!-- linkedin -->
                <a href="#" class="href">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M7.738,17L7.738,17 c-0.697,0-1.262-0.565-1.262-1.262v-4.477C6.477,10.565,7.042,10,7.738,10h0C8.435,10,9,10.565,9,11.262v4.477 C9,16.435,8.435,17,7.738,17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2 S8.551,8.717,7.694,8.717z M16.779,17L16.779,17c-0.674,0-1.221-0.547-1.221-1.221v-2.605c0-1.058-0.651-1.174-0.895-1.174 s-1.058,0.035-1.058,1.174v2.605c0,0.674-0.547,1.221-1.221,1.221h-0.081c-0.674,0-1.221-0.547-1.221-1.221v-4.517 c0-0.697,0.565-1.262,1.262-1.262h0c0.697,0,1.262,0.565,1.262,1.262c0,0,0.282-1.262,2.198-1.262C17.023,10,18,10.977,18,13.174 v2.605C18,16.453,17.453,17,16.779,17z">
                        </path>
                    </svg>
                </a>

                <!-- github -->
                <a href="#" class="href">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="currentColor">
                        <path
                            d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z">
                        </path>
                    </svg>
                </a>

                <a href="#" class="href">
                    <!-- twitch -->
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="currentColor">
                        <path
                            d="M 6 4 L 4 8 L 4 24 L 9 24 L 9 27 L 13 27 L 16 24 L 20 24 L 26 18 L 26 4 L 6 4 z M 8 6 L 24 6 L 24 17 L 21 20 L 15 20 L 12 23 L 12 20 L 8 20 L 8 6 z M 13 9 L 13 16 L 15 16 L 15 9 L 13 9 z M 17 9 L 17 16 L 19 16 L 19 9 L 17 9 z">
                        </path>
                    </svg>
                </a>

                <a href="#" class="href">
                    <!-- twitter -->
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M 2.3671875 3 L 9.4628906 13.140625 L 2.7402344 21 L 5.3808594 21 L 10.644531 14.830078 L 14.960938 21 L 21.871094 21 L 14.449219 10.375 L 20.740234 3 L 18.140625 3 L 13.271484 8.6875 L 9.2988281 3 L 2.3671875 3 z M 6.2070312 5 L 8.2558594 5 L 18.033203 19 L 16.001953 19 L 6.2070312 5 z">
                        </path>
                </a>
            </div>
        </section>
    </section>
    <section class="container mx-auto dark:text-white transition ease-in-out delay-150">
        <div class="rounded border-b mt-4 ">
            <!-- Tabs -->
            <ul id="tabs" class="inline-flex pt-2 px-1 w-full border-b capitalize ">
                <li
                    class="bg-white dark:bg-slate-400 px-4  font-semibold py-2 rounded-t border-t border-r border-l -mb-px">
                    <a id="default-tab" href="#first">Introduction</a>
                </li>
                <li class="px-4  font-semibold py-2 rounded-t"><a href="#second">tech stack</a></li>
                <li class="px-4  font-semibold py-2 rounded-t">
                    <a class="flex " href="#third">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path
                                d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z" />
                            <path
                                d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z" />
                            <path
                                d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z" />
                        </svg>
                        academics
                    </a>
                </li>
                <li class="px-4  font-semibold py-2 rounded-t">
                    <a class="flex" href="#fourth">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                clip-rule="evenodd" />
                        </svg>
                        open source projects
                    </a>
                </li>
                <li class="px-4  font-semibold py-2 rounded-t">
                    <a class="flex" href="#fith">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.5 7.5h-9v9h9v-9Z" />
                            <path fill-rule="evenodd"
                                d="M8.25 2.25A.75.75 0 0 1 9 3v.75h2.25V3a.75.75 0 0 1 1.5 0v.75H15V3a.75.75 0 0 1 1.5 0v.75h.75a3 3 0 0 1 3 3v.75H21A.75.75 0 0 1 21 9h-.75v2.25H21a.75.75 0 0 1 0 1.5h-.75V15H21a.75.75 0 0 1 0 1.5h-.75v.75a3 3 0 0 1-3 3h-.75V21a.75.75 0 0 1-1.5 0v-.75h-2.25V21a.75.75 0 0 1-1.5 0v-.75H9V21a.75.75 0 0 1-1.5 0v-.75h-.75a3 3 0 0 1-3-3v-.75H3A.75.75 0 0 1 3 15h.75v-2.25H3a.75.75 0 0 1 0-1.5h.75V9H3a.75.75 0 0 1 0-1.5h.75v-.75a3 3 0 0 1 3-3h.75V3a.75.75 0 0 1 .75-.75ZM6 6.75A.75.75 0 0 1 6.75 6h10.5a.75.75 0 0 1 .75.75v10.5a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V6.75Z"
                                clip-rule="evenodd" />
                        </svg>

                        computer science
                    </a>
                </li>
            </ul>
            <!-- Tab Contents -->
            <div id="tab-contents">
                <div id="first" class="p-4">
                    <section class="bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                        drop-shadow-sm p-4 m-3">
                        <p class="p-4">
                            In my current position, my primary focus lies in full-stack development. However, my
                            enthusiasm for the computer science and software industry extends to a diverse range of
                            technologies. I find pleasure in blogging, delivering talks, and engaging in side
                            projects that align with my interests.
                        </p>
                    </section>
                </div>
                <div id="second" class="hidden p-4">
                    <section class="bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                        drop-shadow-sm p-4 m-3 ">
                        <section class="">
                            <p class="text-2xl p-2 m-2"> Languages </p>
                            <div class="flex flex-row ">

                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            C
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/The_C_Programming_Language_logo.svg/1024px-The_C_Programming_Language_logo.svg.png"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>

                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            typescript
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Typescript.svg/1024px-Typescript.svg.png"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>

                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            C#
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://upload.wikimedia.org/wikipedia/commons/d/d2/C_Sharp_Logo_2023.svg"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>

                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            SQL
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>

                                <div
                                    class="m-2  flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                    <p class="text-xs font-semibold text-blue-700">Open TK</p>
                                </div>

                            </div>
                        </section>
                        <section class=" ">
                            <p class="text-2xl p-2 m-2"> Frameworks </p>
                            <div class="flex flex-row ">
                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            .NET
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Microsoft_.NET_logo.svg"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>
                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            Angular
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://angular.io/assets/images/logos/angular/angular.svg"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>
                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            Blazor
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Blazor.png"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>
                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            Tailwind css
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-24 m-2 object-contain"
                                        src="https://upload.wikimedia.org/wikipedia/commons/9/95/Tailwind_CSS_logo.svg"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>
                            </div>
                        </section>
                        <section class=" ">
                            <p class="text-2xl p-2 m-2"> Learning </p>
                            <div class="flex flex-row ">
                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            orleans
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-10 m-2"
                                        src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Orleans_logo.png"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>
                                <div class="relative flex flex-col items-center group">
                                    <div
                                        class="absolute bottom-0 flex flex-col items-center hidden mb-6 group-hover:flex">
                                        <span
                                            class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg">
                                            Tensorflow
                                        </span>
                                        <div class="w-3 h-3 -mt-2 rotate-45 bg-black "></div>
                                    </div>
                                    <img class="h-10 w-24 m-2 object-contain"
                                        src="https://upload.wikimedia.org/wikipedia/commons/a/ab/TensorFlow_logo.svg"
                                        class="max-w-full h-auto border-none rounded shadow align-middle" />
                                </div>
                            </div>
                        </section>

                    </section>
                </div>
                <div id="third" class="hidden p-4">
                    <div class="bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                         drop-shadow-sm p-4 m-3 ">
                        <div class="flex flex-col space-y-2">
                            <h1 class="text-xl capitalize border-b border-gray-300">EDUCATION AND CERTIFICATES</h1>

                            <div class="flex flex-col flex-1 space-y-1">
                                <span class="text-sm "> 2017 <b> B.Tech. in Computer Science, </b>jawaharlal nehru
                                    technological
                                    university hyderabad.</span>
                                <span class="text-sm "> Verified International Academic Qualifications <b> <a
                                            class="border-b-4 border-indigo-500"
                                            href="https://www.credly.com/badges/5dfe0409-8dda-48e9-a8ca-ee86ab71dfea?source=linked_in_profile">
                                            WES </a> </b>Provides U.S. or Canadian equivalency for the associated
                                    credential.</span>
                            </div>

                            <div class="flex flex-col flex-1 space-y-1">
                                <span class="text-sm "> <b> Certificate in System Design </b> - AlgoExpert - 2022
                                </span>
                                <span class="text-sm "> <b> Certificate in Dive Into Refactoring </b> - Refactoring
                                    Guru - 2021
                                </span>
                                <span class="text-sm "> <b> Certificate in Rust </b> - Udemy - 2021</span>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="fourth" class="hidden p-4  items-center">
                    <section class="flex  flex-col md:flex-row">
                        <div class="bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                                                        drop-shadow-sm p-4 m-3 max-w-sm">
                            <h1 class="text-2xl"> blazor-state </h1>
                            <p> A Blazor State management library by TimeWarp </p>
                            <div class="flex justify-between pt-2">
                                <div> <a href="https://github.com/TimeWarpEngineering/blazor-state"
                                        class="underline  decoration-wavy decoration-sky-500 ">blazor-state</a> </div>
                                <div class="sspace-x-1 flex items-center justify-center">
                                    <div
                                        class="m-2  flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                         <p class="text-xs font-semibold text-blue-700">  blazor
                                             </P>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                                                                                drop-shadow-sm p-4 m-3 max-w-sm">
                            <h1 class="text-2xl"> blazor-university </h1>
                            <p> Accompanying source code for blazor-university.com <a
                                    href="https://blazor-university.com/"
                                    class="underline  decoration-wavy decoration-sky-500 ">blazor-university</a> </p>
                            <div class="flex justify-between pt-2">
                                <div> <a href="https://github.com/mrpmorris/blazor-university"
                                        class="underline  decoration-wavy decoration-sky-500 ">blazor-university</a>
                                </div>
                                <div class="space-x-1 flex items-center justify-center">
                                    <div
                                        class="m-2 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                         <p class="text-xs font-semibold text-blue-700">  blazor
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                                drop-shadow-sm p-4 m-3 max-w-sm">
                            <h1 class="text-2xl"> timewarp-architecture </h1>
                            <p> A distributed application template for dotnet. Utilizing Blazor, Web API, gRPC, Tye,
                                YARP etc. </p>
                            <div class="flex justify-between pt-2">
                                <div> <a href="https://github.com/TimeWarpEngineering/timewarp-architecture"
                                        class="underline  decoration-wavy decoration-sky-500 ">timewarp-architecture</a>
                                </div>
                                <div class="space-x-1 flex items-center justify-center">
                                    <div
                                        class="m-2  flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                         <p class="text-xs font-semibold text-blue-700">  C#
                                         </p>
                                    </div>
                                    <div
                                        class="m-2  flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                        <p class="text-xs font-semibold text-blue-700">   .net
                                        </p>
                                    </div>
                                    <div
                                        class="m-2  flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                         <p class="text-xs font-semibold text-blue-700">  
                                            YARP </p>
                                    </div>
                                    <div
                                        class="m-2 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                       <p class="text-xs font-semibold text-blue-700">  blazor </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="flex  flex-col md:flex-row">
                        <div class="bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                                                                        drop-shadow-sm p-4 m-3 max-w-sm">
                            <h1 class="text-2xl"> fixie </h1>
                            <p> Ergonomic Testing for .NET </p>
                            <div class="flex justify-between pt-2">
                                <div> <a href="https://github.com/chan18/fixie"
                                        class="underline  decoration-wavy decoration-sky-500 ">fixie</a> </div>
                                <div class="space-x-1 flex items-center justify-center">
                                    <div class="m-2  flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                                          <p class="text-xs font-semibold text-blue-700"> C#  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
                <div id="fith" class="hidden p-4  ">
                    <section class="flex  items-center justify-center  flex-col md:flex-row lg:flex-row bg-gray-100 rounded-lg text-ellipsis   dark:text-white dark:bg-slate-800 hover:bg-slate-50 dark:hover:bg-slate-950 
                       drop-shadow-sm p-4 m-3">
                        <div
                            class="m-2 w-2/6 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                            <p class="text-xs font-semibold text-blue-700">Automata Theory</p>
                        </div>
                        <div
                            class="m-2 w-2/6 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                            <p class="text-xs font-semibold text-blue-700">Compiler Design</p>
                        </div>
                        <div
                            class="m-2 w-2/6 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                            <p class="text-xs font-semibold text-blue-700">Operating Systems</p>
                        </div>
                        <div
                            class="m-2 w-2/6 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                            <p class="text-xs font-semibold text-blue-700"> Distributed and Cloud Computing</p>
                        </div>
                        <div
                            class="m-2 w-2/6 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                            <p class="text-xs font-semibold text-blue-700"> Networking and Security</p>
                        </div>
                        <div
                            class="m-2 w-2/6 flex text-center items-center0 rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                            <p class="text-xs font-semibold text-blue-700"> Computer Architecture</p>
                        </div>
                        <div
                            class="m-2 w-2/6 flex text-center items-center rounded-full border-2 border-sky-200 bg-sky-100 p-2 px-2 py-1">
                            <p class="text-xs font-semibold text-blue-700"> Computer
                                Graphics</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>
