<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>chandu - Resume</title>

  <link rel="canonical" href="/resume">

  <link type="application/rss+xml" rel="alternate" href="/feed.rss" />
  <link type="application/atom+xml" rel="alternate" href="/feed.atom" />

  <meta name="application-name" content="chandu" />
  <meta name="msapplication-tooltip" content="chandu" />
  <meta name="msapplication-starturl" content="/" />

  <meta property="og:title" content="chandu - Resume" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/resume" />

  @* <link href="assets/styles.css" rel="stylesheet" /> *@

</head>

<body class="relative h-screen">

  <!-- download icon -->
  <div class="fixed right-0 z-0 flex justify-center bg-gray-200 rounded-full shadow-xl bottom-5 animate-bounce">
    <a href="https://docs.google.com/document/d/1eKIgoKyfPDbAn00WkhWsUH_3DgPBZLWxuWtGwqfFyv0/edit?usp=sharing" class="">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 m-2 text-yellow-700" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
      </svg>
    </a>
  </div>

  <!-- min-w-max -->
  <div class="items-center justify-center m-20 text-black bg-white rounded shadow-xl ">

    <div class="flex flex-col p-6 bg-gray-100">

      <div class="flex justify-center">
        <span class="text-5xl capitalize">Chandra Kanth<span>
      </div>

      <div class="flex justify-center py-2">
        <span class="text-red-400 capitalize">
          Full Stack Engineer
        </span>
      </div>

      <!-- network -->
      <div class="flex flex-col justify-center space-y-2 md:flex-row md:space-x-5 md:items-center">
        <span class="flex px-2 space-x-2">
          <a href="#" class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
          </a>
          </svg>
          <span>p.chan20new@gmail.com</span>
        </span>
        <span class="flex px-2 space-x-2">
          <a href="https://github.com/chan18">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#prefix__clip0)">
                <path
                  d="M12.188-.096c-6.627 0-12 5.501-12 12.288 0 5.43 3.438 10.035 8.206 11.66.6.114.82-.266.82-.59 0-.294-.011-1.262-.016-2.289-3.339.744-4.043-1.45-4.043-1.45-.546-1.42-1.333-1.797-1.333-1.797-1.089-.763.082-.747.082-.747 1.205.086 1.84 1.266 1.84 1.266 1.07 1.878 2.807 1.335 3.492 1.021.108-.794.419-1.336.762-1.643-2.666-.31-5.468-1.364-5.468-6.073 0-1.341.47-2.437 1.237-3.298-.125-.31-.535-1.56.116-3.252 0 0 1.008-.33 3.301 1.26a11.25 11.25 0 013.004-.414c1.02.005 2.047.141 3.006.414C17.484 4.67 18.49 5 18.49 5c.654 1.693.243 2.942.118 3.252.77.86 1.235 1.957 1.235 3.298 0 4.72-2.807 5.76-5.48 6.063.431.382.815 1.13.815 2.276 0 1.644-.014 2.967-.014 3.372 0 .327.216.71.824.59 4.765-1.627 8.2-6.232 8.2-11.659 0-6.787-5.373-12.288-12-12.288zM4.682 17.409c-.027.06-.12.079-.206.037-.087-.04-.136-.123-.107-.184.025-.063.12-.08.206-.039.087.04.137.124.107.186zm.59.539c-.057.054-.169.03-.245-.057-.078-.085-.093-.2-.035-.255.059-.055.168-.03.246.057.079.086.094.2.034.255zm.405.69c-.073.052-.194.003-.268-.106-.073-.11-.073-.24.002-.293.074-.052.193-.005.268.103.073.111.073.242-.002.296zm.685.8c-.066.074-.206.054-.308-.048-.105-.099-.135-.24-.069-.314.067-.074.208-.053.311.047.104.1.136.24.066.314zm.885.269c-.029.096-.164.14-.3.1-.135-.043-.224-.156-.197-.253.028-.097.164-.142.3-.099.136.042.225.154.197.252zm1.007.114c.004.102-.111.186-.254.188-.144.003-.26-.08-.261-.179 0-.102.112-.185.256-.188.143-.003.26.079.26.18zm.99-.038c.017.098-.082.2-.224.227-.14.026-.268-.035-.286-.133-.017-.101.084-.203.223-.23.142-.024.269.035.287.136z"
                  fill="#161614" />
              </g>
              <defs>
                <clipPath id="prefix__clip0">
                  <path fill="#fff" d="M0 0h24v24H0z" />
                </clipPath>
              </defs>
            </svg>
          </a>
          <span>chan18</span>
        </span>
        <span class="flex px-2 space-x-2">
          <a href="https://www.linkedin.com/in/chandrakanthpasunuru/">
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.802 21.269l-3.556.015-.023-5.569c-.006-1.328-.037-3.037-1.863-3.03-1.852.008-2.129 1.456-2.123 2.95l.024 5.665-3.556.016-.048-11.453 3.414-.014.006 1.565h.048a3.741 3.741 0 013.36-1.864c3.605-.016 4.28 2.352 4.292 5.437l.025 6.282zM5.638 8.315a2.064 2.064 0 11-.018-4.127 2.064 2.064 0 01.018 4.127zm1.833 13.01l-3.56.015-.048-11.452 3.56-.015.048 11.452zM22.489.814L2.038.9A1.751 1.751 0 00.274 2.638l.087 20.536a1.753 1.753 0 001.778 1.724l20.451-.086a1.756 1.756 0 001.77-1.74l-.086-20.537A1.755 1.755 0 0022.489.812"
                fill="#0A66C2" />
            </svg>
          </a>
          <span>Chandra Kanth</span>
        </span>
      </div>

      <div class="flex flex-col py-2 space-y-4">
        <!-- summary -->
        <div class="flex flex-col space-y-2">
          <h1 class="text-xl capitalize border-b border-gray-300">summary</h1>

          <span class="text-sm text-gray-500">
            Well-qualified Full Stack Developer familiar with a wide range of programming utilities and languages. Knowledgeable of backend and frontend development requirements. Able to handle any part of the process with ease. Collaborative team player with excellent technical abilities offering 3+ years of related experience. Systems architect with expertise in requirement gathering and analysis, architectural, component and interface design and development for web-based applications in multiple domains.
          </span>

        </div>

        <!-- work experience -->
        <div class="flex flex-col space-y-2">
          <h1 class="text-xl capitalize border-b border-gray-300">Work experience</h1>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-bold capitalize">OVE</span>
            <span class="font-normal text-red-400 capitalize"> Hyderabad, Telangana. </span>
          </div>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-semibold text-gray-500 capitalize">Software Engineer</span>
            <span class="text-sm font-semibold text-gray-500 uppercase"> Feb/2021  - current </span>
          </div>

          <span class="text-sm text-gray-500">
            ✶ Developed & maintained fully auto-scale infrastructure using C# .NET containerization, delivering
            applications that are able to rapidly scale up and down based on the load .
          </span>
          <span class="text-sm text-gray-500">
            ✶ Took responsibilities of new engineers onboarding process into the company. Followed through the company
            official documentation process, New Engineers able to understand the project and tools necessary to be
            successful, Which increased the productivity from day one, progressed contribution to the project.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Designed a system which can sync large volume of data efficiently that can scale, Which Increased
            efficiency of the system
          </span>
          <span class="text-sm text-gray-500">
            ✶ Overcome tight deadline deliverables of the project. Recognized by the delivery director of the company as
            the most valuable team member.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Built and Facilitated the project in UAT & SIT phase fixing issues, bugs. Acknowledged by the organization
            as the rising star.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Designed a system where we can sync large volumes of data efficiently that scale, Increased efficiency of
            the system by good margine.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Improved project development time by 5% by utilizing the auto generated code.
          </span>
        </div>

        <div class="flex flex-col space-y-2">
          <h1 class="text-xl capitalize border-b border-gray-300">Work experience</h1>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-bold capitalize">Saven Technologies </span>
            <span class="font-normal text-red-400 capitalize"> Hyderabad, Telangana. </span>
          </div>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-semibold text-gray-500 capitalize">FullStack engineer,</span>
            <span class="text-sm font-semibold text-gray-500 uppercase"> Apr/2020 - Jan/2021 </span>
          </div>

          <span class="text-sm text-gray-500">
            ✶ Learned adyen integration and azure serverless functions based on the project neads.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Traineind other developers in the team on adyen & azure serverless function, Made the team more
            productive, comfortable with the project, Acknowledged by the product owner.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Built LIMO integration into the project with serverless technology reduced project cost by 30%.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Increased deliverables of each sprint, Decreased project delivered time by 5%.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Fast Tracked issue resolving with azure insights, Increased product quality by 20%.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Increased productivity and deliverables of the team by mentoring team members.
          </span>
        </div>


        <div class="flex flex-col space-y-2">
          <h1 class="text-xl capitalize border-b border-gray-300">Work experience</h1>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-bold capitalize">kavayah solutions Inc.</span>
            <span class="font-normal text-red-400 capitalize"> Hyderabad, Telangana. </span>
          </div>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-semibold text-gray-500 capitalize">FullStack engineer,</span>
            <span class="text-sm font-semibold text-gray-500 uppercase"> OCT/2018  - FEB/2020</span>
          </div>

          <span class="text-sm text-gray-500">
            ✶ Learned .NET, C#, Angular with Typescript based on the project needs.
          </span>

          <span class="text-sm text-gray-500">
            ✶ Designed and Built Majority of the project architecture and major features of the migrating legacy law
            firm project.
          </span>
          
          <span class="text-sm text-gray-500"> ✶ Directly responsible for project deliverables, Decreased project delivery
            time by 5%.
          </span>
            
          <span class="text-sm text-gray-500">
            ✶ Designed & Integrated Azure Blob storage and file monitoring from scratch
            decreased the cost of file storage service by 3%
          </span>

          <span class="text-sm text-gray-500">
            ✶ Decreased issues/bugs by major margin in a short time frame.
          </span>
          
          <span class="text-sm text-gray-500">
            ✶ Designed & built smart crawlers reduced cost of data collection by 5%.
          </span>
          
          <span class="text-sm text-gray-500">
            ✶ Designed & Built dashboard with complex notification system, With custom
            notification system under short time frame.
          </span>
        </div>

        <div class="flex flex-col space-y-2">
          <h1 class="text-xl capitalize border-b border-gray-300">Work experience</h1>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-bold capitalize">Betalectic </span>
            <span class="font-normal text-red-400 capitalize"> Hyderabad, Telangana. </span>
          </div>

          <div class="flex justify-between flex-1">
            <span class="text-sm font-semibold text-gray-500 capitalize">FullStack engineer</span>
            <span class="text-sm font-semibold text-gray-500 uppercase"> Aug/2017 - Aug/2018 </span>
          </div>


          <span class="text-sm text-gray-500">
            ✶ Designed & Developed majority of the features in multiple products from different domains
          </span>
          <span class="text-sm text-gray-500">
            ✶ Learned PHP Laravel, Vuejs, Eloquent ORM, Neo4j as per the product needs.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Responsible for product feature deliverables every week.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Responsible for hiring and training new interns into the company every new session.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Decreased the product features deliverables by 10% with my contribution to the products.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Overcome constant changing feature requests in a fast paced environment.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Designed RESTful APIs that are being consumed by frontend dashboards. Designed and developed multiple
            frontend dashboards.
          </span>
          <span class="text-sm text-gray-500">
            ✶ Decreased dashboard development time by a large margin using prebuilt themes and converted into vuejs
            modules, for the product.
          </span>
        </div>

        <!-- skills -->
        <div class="flex flex-col space-y-4">
          <h1 class="text-xl capitalize border-b border-gray-300">skills</h1>

          <div class="flex flex-col space-y-4">

            <span class="space-x-4 text-sm capitalize">
              <span class="font-bold text-gray-500">
                (3+ years)
              </span>
              <span class="flex flex-wrap items-center justify-between p-2 space-y-4 md:inline md:flex-none">
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">.NET</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Angular (typescript)</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">C#</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">SQL</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Typescript</span>
              </span>
            </span>

            <span class="space-x-4 text-sm capitalize">
              <span class="font-bold text-gray-500">
                (1+ years)
              </span>
              <span class="flex flex-wrap items-center justify-between p-2 space-y-2 md:inline md:flex-none">
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Docker</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Azure</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Tailwind</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Vuejs</span>
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Javascript</span>
              </span>
            </span>

            <span class="space-x-4 text-sm capitalize">
              <span class="font-bold text-gray-500">
                (Learning)
              </span>
              <span class="flex flex-wrap items-center justify-between p-2 space-y-2 md:inline md:flex-none">
                <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">Kubernetes</span>
              </span>
            </span>

            @* <span class="space-x-4 text-sm capitalize">
              <span class="font-bold text-gray-500">
              front end
              </span>
              <span class="flex flex-wrap items-center justify-between p-2 space-y-2 md:inline md:flex-none">
              <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">HTML</span>
              <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">CSS (tailwind)</span>
              </span>
              </span>

              <span class="space-x-4 text-sm capitalize">
              <span class="font-bold text-gray-500">
              languages
              </span>
              <span class="flex flex-wrap items-center justify-between p-2 space-y-2 md:inline md:flex-none">
              <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">C#</span>
              <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">typescript</span>
              <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">javascript</span>
              <span class="flex-shrink-0 p-1 px-4 text-black bg-gray-300 rounded-md">PHP</span>
              </span>
              </span> *@

          </div>
        </div>

        <!-- EDUCATION AND CERTIFICATES-->
        <div class="flex flex-col space-y-2">
          <h1 class="text-xl capitalize border-b border-gray-300">EDUCATION AND CERTIFICATES</h1>

          <div class="flex flex-col flex-1 space-y-1">
            <span class="text-sm text-gray-500"> 2017 <b> B.Tech. in Computer Science, </b>jawaharlal nehru technological
              university hyderabad.</span>
            <span class="text-sm text-gray-500"> Verified International Academic Qualifications <b> <a
                  class="border-b-4 border-indigo-500"
                  href="https://www.credly.com/badges/5dfe0409-8dda-48e9-a8ca-ee86ab71dfea?source=linked_in_profile">
                  WES </a> </b>Provides U.S. or Canadian equivalency for the associated credential.</span>
          </div>

          <div class="flex flex-col flex-1 space-y-1">
            <span class="text-sm text-gray-500"> <b> Certificate in System Design </b> - AlgoExpert - 2022 </span>
            <span class="text-sm text-gray-500"> <b> Certificate in Dive Into Refactoring </b> - Refactoring Guru - 2021
            </span>
            <span class="text-sm text-gray-500"> <b> Certificate in Rust </b> - Udemy - 2021</span>
          </div>
        </div>

        <!-- LANGUAGES -->
        <div class="flex flex-col space-y-2">
          <h1 class="text-xl capitalize border-b border-gray-300">LANGUAGES</h1>

          <div class="flex flex-col flex-1 space-y-1">
            <span class="text-sm text-gray-500">
              <strong> English </strong> - Fluent.
            </span>
          </div>

          <div class="flex flex-col flex-1 space-y-1">
            <span class="text-sm text-gray-500">
              <strong> Native Language </strong> - Telugu.
            </span>
          </div>

          <div class="flex flex-col flex-1 space-y-1">
            <span class="text-sm text-gray-500">
              <strong> Intrested in Learning </strong> - Spanish, French, Russian.
            </span>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>

</html>